body,html{
    margin: 0;
    padding: 0;
    background-color:#121818;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock{
    font-family: sans-serif;
    font-size: 6vw;
    background-image: linear-gradient(180deg,
       #498af8 0%,
       rgba(234,245,241,1) 50%,
       rgba(39,97,116,1) 100%);
       background-clip: text;
    position: absolute;
    top: 5%;
}

.setAlarm{
    /* background-color: green; */
    height: 141px;
    width: 511px;
    position: absolute;
    top: 20%;
}

.input{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 40px;
    background-color: white;
}

.hr{
    border: none;
    height: 30px;
    font-size: x-large;
    text-align: center;

}

.min{
    border: none;
    height: 30px;
    font-size: x-large;
    text-align: center;
}

.sec{
    border: none;
    height: 30px;
    font-size: x-large;
    text-align: center;
}

.controls{
    margin-top: 10px;
    display: flex;
    position: absolute;
    top: 55%;
    left: 32%;
}

.button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}

.set-alarm{
  background-color:   #498AF8;
}

.clear-button{
    background-color: red;
}

hr{
    width: 60%;
    color: white;
    top: 40%;
    position: absolute;
}

.list{
    background-color: blue;
    height: 210px;
    width: 326px;
    position: absolute;
    top: 45%;
}

h4{
    margin-top: 0;
    color: white;
    text-align: center;
}

.time-list{
    display: flex;
    flex-direction: row;
}


.time-list span{
    /* background-color: violet; */
    width: 160px;
    margin-right: 18px;
    
}

.time-list button{
    background-color: #ed0d0d;
    border-color: #5d759d;
    border-radius: 3px;
    border-width: 0px;
    margin-bottom: 5px;
    height: 22px;
    color: whitesmoke;
}


